.contacts {
    margin-top: 100px;
}

.contacts__list {
    margin: 10px 20px;
}

.contatcs__element {
    background-color: var(--pretty-black);
    padding: 20px 15px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin-bottom: 1px;

    &:hover,
    &:focus {
        background-color: var(--light-black);
    }
}

.contatcs__element input {
    display: none;
    background-color: var(--base-black);
    outline: none;

    &:focus,
    &:hover {
        outline: 1px solid rgba(201, 213, 247, 0.3);
    }
}

.contatcs__element--input-name {
    margin-bottom: 10px;
}

.contatcs__element--active {
    input {
        display: block;
    }
    .contatcs__element--name {
        display: none;
    }
}