.contacts {
    margin-top: 100px;
}

.contacts__list {
    margin: 10px 30px;

    @media (min-width: 968px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.contatcs__element input {
    display: none;
    background-color: var(--base-black);
    outline: none;
    color: var(--basic-white);
    width: 70%;

    &:focus,
    &:hover {
        outline: 1px solid rgba(201, 213, 247, 0.3);
    }
}

.contatcs__element--input-name {
    margin-bottom: 10px;
}


.contatcs__element--confirm {
    outline: none;
    color: var(--basic-white);
    background-color: var(--base-black);
    margin-top: 10px;
    display: none;
}

.contatcs__element--active {
    input,
    .contatcs__element--confirm {
        display: block;
    }
    .contatcs__element--name,
    .contatcs__element--option {
        display: none;
    }
}

