.page__body {
    font-family: "PT Sans Narrow", "arial", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
    background-color: var(--main-black);
    color: var(--basic-white);
  }
  