.popup {
    background-color: var(--pretty-black);
    padding: 20px 15px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin-bottom: 1px;
    position: relative;

    &:hover,
    &:focus {
        background-color: var(--light-black);
    }
}

.popup p {
    font-size: 21px;
    margin-bottom: 40px;
}

.popup__hide {
    padding-left: 20px;
    display: none;
}

.popup__active {
    .popup__hide,
    .popup__submit {
        display: block;
    }
    .popup__open {
        display: none;
    }
}

.popup input {
    // display: none;
    background-color: var(--base-black);
    outline: none;
    color: var(--basic-white);
    width: 70%;

    &:focus,
    &:hover {
        outline: 1px solid rgba(201, 213, 247, 0.3);
    }
}

.popup__submit {
    color: var(--basic-white);
    background-color: inherit;
    border: none;
    margin-top: 10px;
    display: none;

    &:hover,
    &:focus {
        opacity: 0.5;
    }
    
    &:active {
        opacity: 0.1;
    }
}

.popup__open { 
    background-color: inherit;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 15px;

    &::before {
        content: "";
        width: 5px;
        height: 4px;
        background-color: var(--basic-white);
        border-radius: 15px;
        position: absolute;
        right: 20px;
        box-shadow: 0 9px 0 0 var(--basic-white), 0 18px 0 0 var(--basic-white);
    }
}

.popup__address,
.popup__geo,
.popup__company,
.popup__history,
.popup__history--info,
.popup__posts {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.popup__favorite-block {
    position: relative;
}

.popup__favorite {
    position: absolute;
    left: 0;
    margin-top: 5px;
}

.popup__history,
.popup__company,
.popup__address,
.popup__posts {
    display: none;
}

.popup__history--active,
.popup__company--active,
.popup__address--active,
.popup__posts--active {
    display: block;
}

.popup__history-button,
.popup__company-button,
.popup__address-button,
.popup__posts-button {
    position: absolute;
    left: auto;
    right: auto;
    width: 40px;
    background-color: inherit;
    border: none;

    &::before {
        content: "";
        width: 5px;
        height: 4px;
        background-color: var(--basic-white);
        border-radius: 15px;
        position: absolute;
        box-shadow: 0 9px 0 0 var(--basic-white), 0 18px 0 0 var(--basic-white);
    }
}